<!DOCTYPE html>
<html lang="es" class="scroll-smooth" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juan Peñate · Datax</title>
    <link rel="stylesheet" href="../../assets/css/base.css" />
    <link rel="stylesheet" href="../../assets/css/aos.css" />
    <link rel="stylesheet" href="../../assets/css/customs/_tooltip.css" />
    <link rel="icon" type="image/x-icon" href="../../assets/logo.ico">
</head>

<body
    class="bg-light-background text-light-primary dark:bg-dark-background dark:text-dark-primary font-sans antialiased transition-colors duration-300">

    <!-- Navbar -->
    <nav id="navbar" class="fixed top-6 left-0 w-full z-50 flex justify-center transition-opacity duration-300">
        <div class="max-w-7xl w-full relative flex items-center px-6">

            <!-- logo and social icons -->
            <div class="absolute left-0 flex items-center space-x-3">
                <a href="../../index-en-en.html" aria-label="Inicio">
                    <img src="../../assets/images/general/logo_no_bg.png" alt="Logo personal"
                        class="w-9 h-9 object-contain hover:opacity-80 transition" />
                </a>
                <a href="https://github.com/juan1144" target="_blank" aria-label="Github">
                    <span
                        class="w-7 h-7 block text-light-primary dark:text-dark-primary hover:text-light-accent dark:hover:text-dark-accent transition">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-github-icon lucide-github">
                            <path
                                d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4" />
                            <path d="M9 18c-4.51 2-5-2-7-2" />
                        </svg>
                    </span>
                </a>
            </div>

            <!-- Main menu -->
            <ul class="mx-auto pointer-events-auto hidden md:flex items-center space-x-4 px-6 py-2
                bg-light-backgroundOverlay dark:bg-dark-backgroundOverlay
                text-sm font-medium text-light-primary dark:text-dark-primary
                shadow-lg ring-1 ring-light-border/10 dark:ring-dark-border/10
                backdrop-blur-md rounded-full transition-colors duration-300">
                <li>
                    <a href="../../index-en.html" class="hover:text-light-accent dark:hover:text-dark-accent transition">
                        Home
                    </a>
                </li>
                <li>
                    <a href="../../templates/projects/project-list-en.html"
                        class="text-light-accent dark:text-dark-accent font-semibold transition">
                        Projects
                    </a>
                </li>
            </ul>

            <div class="absolute right-0 flex items-center space-x-3">

                <!-- mobile display menu -->
                <div class="relative md:hidden">
                    <button id="mobile-menu-toggle"
                        class="flex items-center space-x-2 px-4 py-2 bg-light-backgroundOverlay dark:bg-dark-backgroundOverlay
                        rounded-full shadow ring-1 ring-light-border/10 dark:ring-dark-border/10
                        text-light-primary dark:text-dark-primary hover:ring-light-accent dark:hover:ring-dark-accent transition">
                        <span>Menu</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-chevron-down-icon lucide-chevron-down hidden dark:block h-5 w-5 text-dark-primary group-hover:text-white">
                            <path d="m6 9 6 6 6-6" />
                        </svg>
                    </button>

                    <div id="mobile-menu" class="absolute right-0 mt-2 w-40 bg-light-backgroundOverlay dark:bg-dark-backgroundOverlay
                        shadow-lg rounded-lg ring-1 ring-light-border/10 dark:ring-dark-border/10
                        text-sm font-medium text-light-primary dark:text-dark-primary hidden transition-opacity">
                        <ul class="py-2 space-y-1">
                            <li>
                                <a href="../../index-en.html"
                                    class="hover:text-light-accent dark:hover:text-dark-accent transition ">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="../../templates/projects/project-list-en.html"
                                    class="text-light-accent dark:text-dark-accent font-semibold transition">
                                    Projects
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- language dropdown -->
                <!-- <form action="{% url 'set_language' %}" method="post" class="pointer-events-auto">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    <select name="language" onchange="this.form.submit()"
                        class="bg-transparent border border-light-border dark:border-dark-border rounded px-3 py-1 text-sm text-light-primary dark:text-dark-primary">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang_code, lang_name in LANGUAGES %}
                        <option value="{{ lang_code }}" {% if lang_code==LANGUAGE_CODE %}selected{% endif %}>{{
                            lang_name }}</option>
                        {% endfor %}
                    </select>
                </form> -->
                <select id="languageSelector"
                    class="bg-transparent border border-light-border dark:border-dark-border rounded px-3 py-1 text-sm text-light-primary dark:text-dark-primary">
                    <option value="datax.html" selected>ES</option>
                    <option value="datax-en.html">EN</option>
                </select>

                <!-- dark|white button -->
                <div class="pointer-events-auto">
                    <button type="button" data-theme-toggle class="group p-2 bg-light-background/90 dark:bg-dark-background/90
                        rounded-full shadow ring-1 ring-light-border/10 dark:ring-dark-border/10
                        hover:ring-light-accent dark:hover:ring-dark-accent transition">
                        <!-- sun icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-sun-icon lucide-sun hidden dark:block h-5 w-5 text-dark-primary group-hover:text-white">
                            <circle cx="12" cy="12" r="4" />
                            <path d="M12 2v2" />
                            <path d="M12 20v2" />
                            <path d="m4.93 4.93 1.41 1.41" />
                            <path d="m17.66 17.66 1.41 1.41" />
                            <path d="M2 12h2" />
                            <path d="M20 12h2" />
                            <path d="m6.34 17.66-1.41 1.41" />
                            <path d="m19.07 4.93-1.41 1.41" />
                        </svg>
                        <!-- moon icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-moon-icon lucide-moon block dark:hidden h-5 w-5 text-light-primary group-hover:text-black">
                            <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <main
        class="min-h-screen pt-24 bg-texture-2 bg-repeat bg-[length:10px] dark:bg-texture dark:bg-repeat dark:bg-[length:10px]">
        <section class="max-w-4xl mx-auto px-6 py-12 space-y-12">

            <!-- Title and description -->
            <div class="mb-1">
                <h1 class="text-3xl md:text-5xl font-bold text-light-primary dark:text-dark-primary mb-2"
                    data-aos="fade-right">Datax</h1>
                <p class="text-lg text-light-secondary dark:text-dark-secondary" data-aos="fade-right">
                    Business analytics platform developed in Django to generate dynamic reports on sales, customers and products.
                </p>
            </div>

            <!-- Introduction -->
            <div class="space-y-4" data-aos="fade-up">
                <h2 class="text-lg font-semibold text-light-primary dark:text-dark-primary flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-light-accent dark:text-dark-accent"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 16h-1v-4h-1m1-4h.01M12 20a8 8 0 100-16 8 8 0 000 16z" />
                    </svg>
                    About the project
                </h2>
                <p class="text-light-secondary dark:text-dark-secondary text-lg leading-relaxed">
                    Datax is an internal application created to provide companies with a visual and flexible tool for querying key metrics related to business performance. Through intuitive dashboards, advanced filters and optimized PostgreSQL queries, it allows visualizing indicators by customer, location, product or time period.
                </p>
            </div>

            <!-- Tech stack -->
            <div class="pt-8 space-y-4" data-aos="fade-right">
                <h2 class="text-lg font-semibold text-light-primary dark:text-dark-primary flex items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-light-accent dark:text-dark-accent"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M9 9h6v6H9z" />
                        <path d="M3 9h2v6H3zM19 9h2v6h-2z" />
                        <path d="M9 3v2M15 3v2M9 19v2M15 19v2" />
                        <path d="M5 5h14v14H5z" />
                    </svg>
                    Technologies used
                </h2>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
                <!-- Django -->
                <a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer"
                    class="flex flex-col items-center justify-between text-center p-4 bg-gradient-to-b from-white/50 to-light-backgroundOverlay dark:from-dark-background/40 dark:to-dark-backgroundOverlay border border-light-border dark:border-dark-border rounded-xl shadow-sm hover:shadow-md transition group"
                    data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0">
                    <img src="../../assets/images/logos/django.svg" alt="Django"
                        class="w-15 h-15 mb-3 transition-transform group-hover:scale-110">
                    <span class="font-medium text-lg text-light-primary dark:text-dark-primary">Django</span>
                </a>

                <!-- Bootstrap -->
                <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer"
                    class="flex flex-col items-center justify-between text-center p-4 bg-gradient-to-b from-white/50 to-light-backgroundOverlay dark:from-dark-background/40 dark:to-dark-backgroundOverlay border border-light-border dark:border-dark-border rounded-xl shadow-sm hover:shadow-md transition group"
                    data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-delay="200" data-aos-offset="0">
                    <img src="../../assets/images/logos/bootstrap.svg" alt="Bootstrap"
                        class="w-12 h-12 mb-3 transition-transform group-hover:scale-110">
                    <span class="font-medium text-lg text-light-primary dark:text-dark-primary">Bootstrap</span>
                </a>

                <!-- PostgreSQL -->
                <a href="https://www.postgresql.org/" target="_blank" rel="noopener noreferrer"
                    class="flex flex-col items-center justify-between text-center p-4 bg-gradient-to-b from-white/50 to-light-backgroundOverlay dark:from-dark-background/40 dark:to-dark-backgroundOverlay border border-light-border dark:border-dark-border rounded-xl shadow-sm hover:shadow-md transition group"
                    data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                    <img src="../../assets/images/logos/postgres.svg" alt="PostgreSQL"
                        class="w-12 h-12 mb-3 transition-transform group-hover:scale-110">
                    <span class="font-medium text-lg text-light-primary dark:text-dark-primary">PostgreSQL</span>
                </a>

                <!-- HTMX -->
                <a href="https://htmx.org/" target="_blank" rel="noopener noreferrer"
                    class="flex flex-col items-center justify-between text-center p-4 bg-gradient-to-b from-white/50 to-light-backgroundOverlay dark:from-dark-background/40 dark:to-dark-backgroundOverlay border border-light-border dark:border-dark-border rounded-xl shadow-sm hover:shadow-md transition group"
                    data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-delay="400" data-aos-offset="0">
                    <img src="../../assets/images/logos/htmx.svg" alt="HTMX"
                        class="w-15 h-15 mb-3 transition-transform group-hover:scale-110">
                    <span class="font-medium text-lg text-light-primary dark:text-dark-primary">HTMX</span>
                </a>

                <!-- DOCKER -->
                <a href="https://www.docker.com/" target="_blank" rel="noopener noreferrer"
                    class="flex flex-col items-center justify-between text-center p-4 bg-gradient-to-b from-white/50 to-light-backgroundOverlay dark:from-dark-background/40 dark:to-dark-backgroundOverlay border border-light-border dark:border-dark-border rounded-xl shadow-sm hover:shadow-md transition group"
                    data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-offset="0">
                    <img src="../../assets/images/logos/docker.svg" alt="HTMX"
                        class="w-15 h-15 mb-3 transition-transform group-hover:scale-110">
                    <span class="font-medium text-lg text-light-primary dark:text-dark-primary">Docker</span>
                </a>

                <!-- GIT -->
                <a href="https://git-scm.com/" target="_blank" rel="noopener noreferrer"
                    class="flex flex-col items-center justify-between text-center p-4 bg-gradient-to-b from-white/50 to-light-backgroundOverlay dark:from-dark-background/40 dark:to-dark-backgroundOverlay border border-light-border dark:border-dark-border rounded-xl shadow-sm hover:shadow-md transition group"
                    data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-delay="600" data-aos-offset="0">
                    <img src="../../assets/images/logos/git.svg" alt="HTMX"
                        class="w-15 h-15 mb-3 transition-transform group-hover:scale-110">
                    <span class="font-medium text-lg text-light-primary dark:text-dark-primary">Git</span>
                </a>

                <!-- GITEA -->
                <a href="https://github.com/" target="_blank" rel="noopener noreferrer"
                    class="flex flex-col items-center justify-between text-center p-4 bg-gradient-to-b from-white/50 to-light-backgroundOverlay dark:from-dark-background/40 dark:to-dark-backgroundOverlay border border-light-border dark:border-dark-border rounded-xl shadow-sm hover:shadow-md transition group"
                    data-aos="fade-up" data-aos-easing="ease-in-back" data-aos-delay="600" data-aos-offset="0">
                    <img src="../../assets/images/logos/gitea.svg" alt="HTMX"
                        class="w-15 h-15 mb-3 transition-transform group-hover:scale-110">
                    <span class="font-medium text-lg text-light-primary dark:text-dark-primary">Gitea</span>
                </a>
            </div>

            <!-- Key features -->
            <div class="space-y-6" data-aos="fade-up">
                <h2 class="text-xl font-semibold text-light-primary dark:text-dark-primary mb-2">
                    Key features
                </h2>
                <ul class="space-y-4 text-light-secondary dark:text-dark-secondary text-lg leading-relaxed">
                    <li data-aos="fade-up" data-aos-delay="50">
                        <strong>Dynamic reports by customer and location:</strong>
                        Interactive dashboard tables that can be filtered by date, customer or region to view revenue, quantity of products sold and more.
                    </li>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <strong>Optimized views with PostgreSQL:</strong>
                        Use of materialized views and aggregate subqueries to improve performance in generating heavy reports.
                    </li>
                    <li data-aos="fade-up" data-aos-delay="150">
                        <strong>Bootstrap + HTMX based interface:c</strong>
                        HTMX was used to dynamically reload forms, filters and tables without needing to refresh the entire page.
                    </li>
                    <li data-aos="fade-up" data-aos-delay="200">
                        <strong>Permission system for segmented access:</strong>
                        User access control to limit available modules and visible filters according to role.c
                    </li>
                </ul>
            </div>

            <!-- Challenges and solutions -->
            <div class="space-y-6" data-aos="fade-up">
                <h2 class="text-xl font-semibold text-light-primary dark:text-dark-primary mb-2">
                    Challenges and solutions
                </h2>
                <ul class="space-y-4 text-light-secondary dark:text-dark-secondary text-lg leading-relaxed">
                    <li data-aos="fade-up" data-aos-delay="50">
                        <strong>Optimization of complex queries:</strong>
                        SQL queries were restructured using CTEs and aggregate views to ensure fast response times in tables with millions of records.
                    </li>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <strong>Scalability and form reuse:</strong>
                        Search forms were designed to adapt to multiple reports, allowing logic and validation reuse.
                    </li>
                    <li data-aos="fade-up" data-aos-delay="150">
                        <strong>Visual adaptability:</strong>
                        A responsive design was achieved with clear navigation on both desktop and mobile devices.
                    </li>
                </ul>
            </div>

            <!-- GitHub Link -->
            <div data-tooltip="Private Repository"
                data-placement="left">
                <a disabled
                    class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium text-white bg-light-accent hover:bg-opacity-90 dark:bg-dark-accent rounded-md shadow tooltip-target"
                    target="_blank" rel="noopener noreferrer" data-tooltip="Private Repository" data-placement="right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                        stroke-width="2" viewBox="0 0 24 24">
                        <path d="M10 2v8l3-3 3 3V2" />
                        <path
                            d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20" />
                    </svg>
                    View source code
                </a>
            </div>

            <!-- Nav -->
            <div class="flex justify-between pt-8">
                <a href="../../templates/projects/project-list-en.html"
                    class="text-sm underline text-light-accent dark:text-dark-accent">
                    Back to projects
                </a>
            </div>

        </section>
    </main>

    <!-- Footer -->
    <footer
        class="bg-light-background py-4 dark:bg-dark-background border-t ... dark:bg-[url('../../assets/icons/texture.svg')] dark:bg-repeat dark:bg-[length:10px]">
        <div class="max-w-7xl mx-auto px-4 text-center text-sm text-light-secondary dark:text-dark-secondary">
            Juan Felipe Peñate Hernández - Systems engineer
        </div>
        <div class="max-w-7xl mx-auto px-4 text-center text-xs text-light-secondary dark:text-dark-secondary">
            ©2025 - Web credits
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../../assets/js/base.js"></script>
    <script src="../../assets/js/aos.js"></script>
    <script src="../../assets/js/_tooltip.js"></script>
    <script>
        AOS.init({
            once: true,
            duration: 600,
            easing: 'ease-out',
        });
    </script>
    <!-- highlight js -->
    <script src="../../assets/js/libs/highlight.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightElement(block);
            });
        });
    </script>
    <script src="../../assets/js/_slidehow.js"></script>
</body>

</html>